<body>
	<h3>Welcome to CREATEskills!</h3>
	<p> 
		Dear, <%= @user.name %>
	</p>
	<p>
		You have successfully signed up to CREATEskills Platform.<br/>
		We hope You will find it useful for finding and sharing information with other users of this platform!
	</p>
	<p>
		Thank You for joining and have a great day!
	</p>

	<div class="logo" style="width:100px"><%= image_tag attachments['Logo.png'].url %></div>
</body>