<footer class="small bg-light py-1 py-sm-5">
  <div class="container">
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a class="social-links" href="https://www.facebook.com/CREATEskills-EU-Project-1612304012192251/">
        <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
    </ul>
    <p class="text-center">&copy; CREATEskills, 2018</p>
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <%= link_to t("global.menu.about_us"), about_path, class: 'mr-3' %>
        <%= link_to t("global.menu.contacts"), contacts_path, class: 'mr-3' %>
        <%= link_to t("global.menu.terms"), terms_path %>
      </li>
    </ul>
  </div>
</footer>
