<div class="container">
	<div class="jumbotron mb-5">
		<h2 class="short-info mb-3">Social Learning For STEM In Primary Education</h2>
		<div class="mb-3">
			The “CREATEskills” project is designed to develop and implement innovative practices, tools and methodologies in primary schools for the establishment of STEM studio classrooms, improving the quality and relevance of the learning process in primary education, more specifically regarding the attractiveness of STEM (Science, Technology, Engineering and Mathematics) subjects.
			<br/>
			<br/>
			The project is dedicated to Primary school students (6-12 years old), Primary education teachers, Parents of primary students and School principals.
			<br/>
			<br/>
			To learn more please visit our Project website.
		</div>
			<div class="to-createskills">
				<%= link_to "Visit CREATEskills", "http://createskills.eu", class: "btn btn-lg btn-custom5", :target => "_blank" %>
			</div>
	</div>
</div>