<div class= "jumbotron" >
</div>
<!-- 
<div class="container">
	<div class="row">
		<div class="col-sm-6">
		<div class="card index-info">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">As a teacher You can share Your experience with other teachers by uploading teaching material to the library</p>
  </div>
  </div>
</div>
<div class="col-sm-6">
<div class="card index-info">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">If You have found something of interest, download the documents and use them when you need</p>
  </div>
</div>
</div>
</div>
<div class="row">
		<div class="col-sm-6">
		<div class="card index-info">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Families from all over the world can share their unique and fun home activities</p>
  </div>
  </div>
</div>
<div class="col-sm-6">
<div class="card index-info">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>
	</div> -->