<div class= "jumbotron" >
  <div class="short-info">
    <h1>Social Learning For STEM In Primary Education</h1>
  </div>
</div>

<div class="container">
      <div class="row no-gutters bg-light p-4 mb-4">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <img src="assets/whatwedo.jpeg" style="width:250px; height:250px;"  class="img-fluid rounded-circle mb-4 mb-lg-0">
            </div>
            <div class="col-12 col-sm-6">
              <h2>What we do</h2>
              <p>Through hands-on activities and based on the logic of the Social Learning Theory, “CREATEskills” will contribute to the development of the 21st century skills among students. This project is dedicated for sharing knowledge and experience between teachers, parents and students studying or interested in education field.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <img src="assets/whoweare.jpeg", style="width:250px; height:250px" class="img-fluid rounded-circle mb-4 mb-lg-0">
            </div>
            <div class="col-12 col-sm-6">
              <h2>Who we are</h2>
              <p>The “CREATEskills” project is designed to develop and implement innovative practices, tools and methodologies in primary schools for the establishment of STEM studio (Science, Technology, Engineering and Mathematics) classrooms, improving the quality and relevance of the learning process in primary education.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
          <div class="card">
            <div class="card-header">Virtual Library</div>
            <div class="card-body">
              <p class="card-text">A place dedicated to keep research studies, articles and other sorts of information regarding STEM learning. Where teachers can upload/download teaching tools and materials. All material from the library is free of charge and available to all interested parties.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
          <div class="card">
            <div class="card-header">Teachers' forum</div>
            <div class="card-body">
              <p class="card-text">Teachers' forum this “social” feature is for teachers and parents to engage in the discussions of teaching theories and methods for STEM learning of young students.</p>
              <%= link_to "assets/Forum.jpg", 'data-lightbox': 'image' do %>
              <img class="card img-bottom" src="assets/Forum.jpg">
              <% end %>
              </img>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
          <div class="card">
            <div class="card-header">Virtual teacher’s room</div>
            <div class="card-body">
              <p class="card-text">Virtual teacher’s room is dedicated to share materials, practices, experiences. This is the place where teachers from all EU can directly connect with each other and share their thoughts, ideas, experiences, teaching material.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
          <div class="card">
            <div class="card-header">DIY photo gallery</div>
            <div class="card-body">
              <p class="card-text">Photo Gallery for parents from all EU countries to share their home activities and Do It Yourself (DIY) projects. List of activities and DIY projects available for parents to experiment at home with their children and siblings.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
