@import "bootstrap";
@import "flag-icon";
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 

body {
	background-color: #f5f5f5;
	font-family: 'Lora', serif;
}

a {
	color: rgba(0, 0, 0, 0.5);
}

a:hover {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
}

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

/*NAVBAR*/

.homepage-logo {
	height: 35px;
	margin-left: -3%;
}

.nav-item-custom {
	margin-right: 2px;
}


/*SIGN UP / LOG IN / UPLOAD Forms*/


.login-form,
.signup-form,
.diyupload-form,
.documentupload-form {
	margin-top: 5%;
	margin-bottom: 40px;
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}

.btn-custom {
	color: darken(#f7931e, 5%);
	background-color: #fff;
	border: 1px solid darken(#f7931e, 5%);
	padding: 8px 20px;
	border-radius: 5px;
	&:hover {
		text-decoration: none;
		background-color: darken(#f7931e, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.other-links {
	margin-top: 4%;
}

.explain-tags {
    font-size: 12px;
    font-family: georgia,serif;
    cursor: pointer;

}

/*INDEX page*/

.index-info {
	margin-bottom: 5%;
}

.jumbotron {
	height: 500px;
	background: image-url("/assets/Primaryclass.jpg");
	background-size: cover;
	opacity: 0.7;
	
}

/*DOCUMENTS*/

.form-control {
	margin-right: 2%;
}


.document-space {
	margin-top: 2%;
	margin-right: 7%

}

.badge-custom {
	background-color: rgb(247, 147, 30);
	color: white;
}

.attachment-actions {
  text-decoration: none;
 
}

.attachment-actions span {
    display:block;
    border-bottom:1px solid rgba(247, 147, 30, 0.5);
    width: 100%;
    padding-bottom: 4px;
}

.btn-custom2 {
	background-color: rgba(247, 147, 30, 0.5)
}

/*DIYProject*/

.diy-search-form {
	margin-top: 5%;
	padding-top: 10px;
	padding-bottom: 10px;

}

.search-form-title {
	text-decoration: underline;
}

.diy-index-image {
 width: 200px;
 height: 200px;
 border-radius: 2px;
}

.btn-warning {
	color: #fff !important;
}


.diy-card {
	margin-top: 1%;
	background-color: #E8E8E8;
}

img.raty-cancel {
  display: none;
}

.btn-custom3 {
	background-color: rgb(140, 198, 63);
	color: white;
}

.btn-custom4{
	background-color: rgb(247, 147, 30);
	color: white;
}

.btn-custom5 {
	background-color: rgb(147, 39, 143);
	color: white;
}

.rating-explain {
	color: rgba(0,0,0,0.5)
}

.newdiy-button {
	margin-top: 5%;
}



/*Chatrooms*/

.fa-comments {
	color: rgb(198, 59, 59);
}

.forum-post {
	border-bottom: 3px solid rgb(235, 235, 235);
	padding-top: 10px;
	padding-bottom: 10px;
}

.forum-title {
	margin-top: 1%;
	background-color: rgb(198, 59, 59);
}

.forum-title h3 {
	font-size: 16px;
	color: #fff;
	padding: 10px;
}

.fa-comments,
.fa-folder-open:before {
  margin-right: 5px;
}


.post-title a {
	color: black !important;
	font-weight: bold;
	
}

.create-chat-button {
	background-color: rgb(198, 59, 59);
	color: white;
	
}

.chat-form {
	width: 350px;
}

.chat-owner {
	color: rgb(198, 59, 59);
	font-weight: 900;
	margin-left: 2px;

}

.time-created,
.chat-owner-country,
.chat-owner-registration {
	font-size: 12px;
}

.comments-count a {
	font-size: 12px;
	color: rgba(0,0,0,0.5) !important;
	font-weight: 700;
}

.well {
	height: 250px;
	border: 1px solid #222222;
	overflow-y: scroll;
}

.message-field {
	margin: 0;
}




















